fastapi==0.115.9
uvicorn==0.34.3
langchain==0.3.25
langgraph==0.4.8
llama-index==0.12.42
httpx==0.28.1
python-dotenv==1.1.0
pytest==8.4.0
chromadb==1.0.12
langchain-community==0.3.25
langchain-huggingface==0.3.0
langchain-text-splitters==0.3.8
sentence-transformers==4.1.0
unstructured==0.17.2
langchain-ollama==0.3.3
langchain-chroma==0.2.4
python-multipart==0.0.20